body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  background-color: #08080d;
  color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-panel {
  width: 30%;
  background-color: #282c34;
  padding: 20px;
  text-align: justify;
  overflow-y: auto;
  border-right: 1px solid #444;
}
.splitter {
  width: 3px;
  background-color: #2e2c2c;
  cursor: col-resize;
  height: 100%;
}

.right-panel {
  width: 70%;
  padding: 20px;
  background-color: #030306;
  display: flex;
  flex-direction: column;
}

.language-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.language-tabs button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #ae2c46;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-tabs button:hover {
  background-color: #555a77;
}

.code-display {
  margin-top: 20px;
  background: #13131c;
  color: #cfc9b3;
  padding: 20px;
  border-radius: 8px;
  overflow: auto;
  flex-grow: 1;
  font-size: 14px;
}

.scroll-content {
  white-space: pre-wrap;
}

body::-webkit-scrollbar, .right-panel::-webkit-scrollbar {
  display: none;
}

.left-panel::-webkit-scrollbar {
  width: 6px;
}

.left-panel::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 3px;
}
